body {
  display: flex;
  margin: auto;
}
.wrapper {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  margin: 10px;
  border:10px solid white;
}
.header{
    display: flex; justify-content: space-around; padding: 4px; 
}
.flrow{
    display: flex; flex-direction: row; padding: 2px;
}
.flsa{
    display: flex; justify-content: space-around;
}

